body{
    display: flex;
    justify-content: center;
}

.quadro{
    display: grid;
    grid-template-areas: 'header header aside'
                         'nav section aside'
                         'nav section aside'
                         'nav footer aside';
    grid-template-rows: 10vh 45vh 25vh;
    grid-template-columns: 8vw 30vw 15vw;
}

header{
    grid-area: header;
    display: flex;
    background-color: black;
}

header div:first-child{
    background-color: #d0dae4;
    margin: 0 10px 10px 0;
    width: 16vw;
}

header div:nth-child(2){
    background-color: #dededc;
    margin: 0 10px 10px 0;
    width: 20vw;
}

nav{
    padding-right: 10px;
    grid-area: nav;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav div:first-child{
    background-color: #efeeea;
    height: 23vh;
}

nav div:nth-child(2){
    background-color: #d6dde5;
    height: 34vh;
}

nav div:nth-child(3){
    background-color: #f2be18;
    height: 22vh;
}

section{
    grid-area: section;
    background-color: black;
    padding-right: 10px;
}

section>div:nth-child(2){
    height: 22vh;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

section>div:nth-child(2)>div{
    width: 50%;
    display: flex;
    background-color: yellow;
}

.red{
    height: 45vh;
    background-color: #da2419;
}

.div-quadrada{
    height: 20vh;
    margin-top: 10px;
    background-color: aquamarine;
    /* display: flex; */
}

aside{
    background-color: black;
    grid-area: aside;
    padding-right: 10px;
}

aside>div:first-child{
    background-color: #f5d417;
    margin-bottom: 10px;
    height: 8.5vh;
}

aside>div:nth-child(2){
    background-color: #f5d417;
    margin-bottom: 10px;
    height: 24vh;
}

aside>div:nth-child(3){
    height: 23vh;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

aside>div:nth-child(3)>div{
    width: 47.5%;
    background-color: #dcddd8;
}

aside>div:nth-child(4){
    height: 10vh;
    margin-bottom: 10px;
    background-color: #dcddd8;
}

aside>div:nth-child(5){
    height: 19vh;
    margin-bottom: 10px;
    background-color: #0f3870;
}

footer{
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    background-color: #d7d7d9;
}

footer div:first-child{
    width: 10px;
    background-color: black;
}

footer div:nth-child(2){
    width: 50%;
    height: 50%;
    background-color: black;
}