*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 415px;
}
.flex-box{
  display: flex;
  flex-wrap: wrap;
}
.black{
  background-color: black;
}
.blue{
  background-color: rgba(62, 62, 179, 0.822);
}
.gray{
  background-color: rgba(211, 211, 211, 0.548);
}
.red{
  background-color: red;
}
.white{
  background-color: white;
}
.yellow{
  background-color: rgb(255, 230, 0);
}
.h-100{
  height: 100%;
}
.h-70{
  height: 70%;
}
.h-75{
  height: 75%;
}
.h-50{
  height: 50%;
}
.h-30{
  height: 30%;
}
.h-25{
  height: 25%;
}
.h-10{
  height: 10%;
}
.w-100{
  width: 100%;
}
.w-75{
  width: 75%;
}
.w-70{
  width: 70%;
}
.w-50{
  width: 50%;
}
.w-30{
  width: 30%;
}
.w-25{
  width: 25%;
}
.largura25{
  width: 25px;
}
.border-r{
  border-right: 3px solid black;
}
.border-b{
  border-bottom: 3px solid black;
}
.container > div:first-child{
  height: 100px;
}
#first{
  height: 100px;
}
.box1{
  width: 145px;
}
.box2{
  width: 100px;
}
.box-3{
  width: 45px;
}
.vertical{
  height: 160px;
}